header {
    background-color: #8ab8b5;
    color: rgb(26, 53, 58);
    padding: 20px;
    text-align: center;
}

body  {
    flex: 1;
    background-color: #a9b9b8b6;
}

footer {
    background-color: #8ab8b5;
    color: rgb(26, 53, 58);
    padding: 20px;
    text-align: left;
}