header {
    background-color: #8ab8b5;
    color: rgb(26, 53, 58);
    padding: 20px;
    text-align: center;
}

body  {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #a9b9b8b6;
    font-family: "Georgia";
}

footer {
    background-color: #8ab8b5;
    color: rgb(26, 53, 58);
    padding: 20px;
    text-align: left;
    margin-top: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
  }
  
nav li {
    flex: 1;
    padding: 12px;
    align-items: center;
    background-color: #d6e6e6;
}
  
nav li a {
    display: flex;
    color: rgb(26, 53, 58);
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #afcccc;
    font-size: 16px;
  }

input:focus
{
    border-color: #5d5d5d;
    outline: none;
}

.hide_span {
    color: red;
    display: none;
    font-family: "Georgia";
    font-size: 13px;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.shake {
    animation: shake 0.3s ease-in-out;
}

input {
    border-radius: 5px;
    border-color: #cbcbcb;
}
