.myRatingsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #f8f8f8;
}

.editButton {
    padding: 3px;
    border-radius: 3px;
    border-color: grey;
}

.editButton:hover {
    background-color: lightgoldenrodyellow;
    border-color: yellow;
}

.deleteButton {
    padding: 3px;
    border-radius: 3px;
}

.deleteButton:hover {
    background-color: lightcoral;
    border-color: red;
}

.header {
    width: 90%;
    margin-bottom: 20px;
}

.title {
    font-size: 32px;
    font-weight: bold;
    color: rgb(15, 52, 47);
    margin-left: 10px;
    padding: 20px;
}

.line {
    border: none;
    height: 3px;
    background-color: rgb(216, 143, 6);
    margin: 5px 0 20px 10px;
    width: 95%;
}

.ratingTable {
    width: 80%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
}

.ratingTable th, .ratingTable td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

.ratingTable th {
    background-color: rgb(216, 143, 6);
    color: white;
}

.link {
    color: rgb(15, 52, 47);
    cursor: pointer;
    text-decoration: underline;
}

.button {
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: rgb(216, 143, 6);
    color: white;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(193, 127, 6);
}

.error {
    color: red;
    font-family: 'Arial', sans-serif;
    font-size: 13px;
    padding: 5px;
    margin-bottom: 3px;
}

.saveButton {
    background-color: rgb(216, 143, 6);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 3px 5px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 100px;
    font-weight: bold;
}

.saveButton:hover {
    background-color: rgb(193, 127, 6);
}

.cancelButton {
    background-color: rgb(216, 143, 6);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 3px 5px;
    font-size: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 100px;
    font-weight: bold;
}

.cancelButton:hover {
    background-color: rgb(193, 127, 6);
}
