.headerContainer {
    background-color: rgb(22, 76, 69);
    color: rgb(204, 204, 204);
    padding: 20px;
    text-align: center;
}

.navContainer {
    display: flex;
    align-items: center;
    background-color: rgb(22, 76, 69);
    color: rgb(204, 204, 204);
    width: 100%;
    padding: 10px 0;
}

.navBottom {
    display: flex;
    justify-content: space-around;
}

.navList {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
}

.navItem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.logo {
    height: 50px;
}

.navLink, .dropbtn {
    width: 100%;
    padding: 8px;
    background: rgb(22, 76, 69);
    color: rgb(204, 204, 204);
    font: bold 15px 'Inter', sans-serif;
    text-decoration: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.navLink:hover, .dropbtn:hover, .dropdownContent a:hover {
    color: rgb(255, 255, 255);
}

.dropdownContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdownContent {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: rgb(22, 76, 69);
    min-width: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1;
}

.dropdownContent a, .dropdownContent .dropbtn {
    padding: 12px;
    text-align: center;
    font: bold 13px 'Inter', sans-serif;
    text-decoration: none;
    color: rgb(204, 204, 204);
    border-radius: 10px;
    display: block;
    background: rgb(22, 76, 69);
}

.dropdownContainer:hover .dropdownContent {
    display: block;
}

.searchBar {
    flex: 1;
    display: flex;
    justify-content: center;
}

.searchForm {
    display: flex;
    width: 100%;
    max-width: 600px;
    background: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.searchInput {
    flex: 1;
    border: none;
    padding: 8px;
    font: bold 14px 'Inter', sans-serif;
    border-radius: 20px;
    outline: none;
    min-width: 200px;
}

.searchButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font: bold 18px 'Inter', sans-serif;
}

.mainIndexTitle {
    font: italic bold 40px 'Inter', sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 150px;
}
